<div class="page-header">
  <% if can? :create, Trip %>
  <%= link_to new_trip_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить
  <% end %>
  <% end %>
  <h1>Наши рыбалки</h1>
</div>


<% @trips.each_slice(4) do |trips| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% trips.each do |trip| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                      <%= link_to image_tag(trip.cover.url(:med),class: "img-thumbnail", height: "150", width: "150", style: "width: 100%"),trip %>
                  </div>
                  <div class="caption">
                      <h4><%= link_to trip.name.truncate(27), trip %></h4>
                      <% if !trip.place.nil? %>
                        <p><i class="flaticon-map49"></i>&nbsp;&nbsp; <%= link_to trip.place.name, trip.place %></p>
                      <%else%>
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></i> Место не выбрано </p>
                      <% end %>
                  </div>
                  <div class="modal-footer" style="text-align: left">
                  <div class="row">
                    <div class="col-md-3 text-center"><b><%= trip.users.count+1 %></b><br/><small><i class="flaticon-user168"></i></small></div>
                    <div class="col-md-3 text-center"><b><%= trip.trophy.count %></b><br/><small><i class="flaticon-fish52"></i></small></div>
                    <% if !trip.sdate.nil? & !trip.edate.nil? %>
                    <% beginDate = trip.sdate %>
                    <% endDate = trip.edate %>
                    <div class="col-md-4 text-center"><b><%= (endDate-beginDate).to_i %></b><br/><i class="flaticon-calentar"></div>
                    <% else %>
                    <div class="col-md-3 text-center"><b>?</b><br/><small><i class="flaticon-calentar"></i></small></div>
                    <% end %>
                    <div class="col-md-3 text-center"><b><%= trip.pictures.count %></b><br/><small><i class="flaticon-picture64"></i></small></div>
                </div>  
              </li>
            <% end %>
        </ul>  
        </div>
                    
    
<% end %>





