<div class="page-header">
  <%= link_to new_trip_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Trip
  <% end %>
  <h1>Listing trips</h1>
</div>


<% @trips.each do |trip| %>
    <div class="row carousel-row">
        <div class="col-xs-8 col-xs-offset-2 slide-row">
            <img src="<%= trip.cover.url(:med) %>" height="150" width="150" alt="Image">
            <div class="slide-content">
                <h4><%= link_to trip.name, trip %></h4>
                <p>
                    <%= trip.sdesc %>
                </p>
            </div>
            <div class="slide-footer">
                <span class="pull-right buttons">
                     <%= link_to 'Show', trip %>
                    
                </span>
            </div>
        </div>
    </div>
<% end %>





