<div class="page-header">
  <%= link_to trips_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_trip_path(@trip), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  
</div>
  <div class="row">
    <div class="col-md-8">
    <h1><%= @trip.name %> </h1>
    </div>
    <div class="col-md-4">
      <h4>Капитан:</h4>
      <% user = User.find(@trip.captain) %>
      <%= small_user_badge(user) %>
    </div>
  </div>
  <div class="row">
  
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 text-center " >
          <%=link_to image_tag("/icon-album.jpeg", :border=>0), trip_pictures_path(@trip) %>
        </div>
        <div class="col-md-4 text-center ">
          <% if !@trip.place.nil? %>
          <%= link_to image_tag(@trip.place.pcover.url(:med), size: "100x100", alt: @trip.place.name ), @trip.place %>
          <% else %>
           Place not selected
          <% end %>
        </div>
        <div class="col-md-4 vcenter " style="height:110px;margin:0 auto;">
          <% if !@trip.sdate.nil? & !@trip.edate.nil? %>
           <% startdate = Date.strptime(@trip.sdate,"%m/%d/%Y").to_date %>
           <% enddate = Date.strptime(@trip.edate,"%m/%d/%Y").to_date %>
           
           <table>
             <tr>
               <td class="text-center" width="110"><strong>Старт</strong></td>
               <td><%= Russian::strftime(startdate,'%d %b %Y') %></td>
             </tr>
             <tr>
               <td class="text-center" ><strong>Финиш</strong></td>
               <td><%= Russian::strftime(enddate,'%d %b %Y') %></td>
             </tr>
             <tr>
               <td class="text-center" ><strong>Дней</strong></td>
               <td><%= (enddate-startdate).to_i %></td>
             </tr>
             <tr>
               <td class="text-center" ><strong>Участников</strong></td>
               <td><%= @trip.users.count+1 %></td>
             </tr>
             <tr>
               <td class="text-center" ><strong>Трофеев</strong></td>
               <td><%= @trip.trophy.count %></td>
             </tr>
           </table>
           
           
          <% end %> 
        </div>
      </div>
      <div class="row">
        <div class="container">&nbsp;&nbsp; &nbsp;&nbsp; </div>
        <div class="col-md-12 container thumbnail ">
            <%= @trip.description.html_safe %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Участники:</h4>
      <% @trip.users.each do |user| %>
          <%= small_user_badge(user) %>
      <%end%>
      <h4>Трофеи:</h4>

    </div>
  </div>

 