<div class="page-header">
  <%= link_to trips_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_trip_path(@trip), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  
</div>
  <div class="row">
    <div class="col-md-8">
    <h1><%= @trip.name %> </h1>
    </div>
  </div>
      
    
  
  <div class="row">
  
    <div class="col-md-8">
      <div class="row fblock">
        <div class="col-md-4 text-center " >
          <%=link_to image_tag("/icon-album.jpeg", :border=>0), trip_pictures_path(@trip) %>
          <br>
          <%=link_to "Фото", trip_pictures_path(@trip) %>
        </div>
        <div class="col-md-4 text-center ">
          <% if !@trip.place.nil? %>
          <%= link_to image_tag(@trip.place.pcover.url(:med), size: "100x100", alt: @trip.place.name ), @trip.place %>
          <br>
          <%= link_to @trip.place.name, @trip.place %>
          <% else %>
           Place not selected
          <% end %>
        </div>
        <div class="col-md-4 text-center " style="height:110px;margin:0 auto;">
          <% if !@trip.sdate.nil? & !@trip.edate.nil? %>
           <% startdate = Date.strptime(@trip.sdate,"%m/%d/%Y").to_date %>
           <% enddate = Date.strptime(@trip.edate,"%m/%d/%Y").to_date %>
           
           <table >
             <tr>
               <td width="110"><strong>Старт</strong></td>
               <td><%= Russian::strftime(startdate,'%d %b %Y') %></td>
             </tr>
             <tr>
               <td ><strong>Финиш</strong></td>
               <td><%= Russian::strftime(enddate,'%d %b %Y') %></td>
             </tr>
             <tr>
               <td ><strong>Дней</strong></td>
               <td class="text-center"><%= (enddate-startdate).to_i %></td>
             </tr>
             <tr>
               <td  ><strong>Участников</strong></td>
               <td class="text-center"><%= @trip.users.count+1 %></td>
             </tr>
             <tr>
               <td  ><strong>Трофеев</strong></td>
               <td class="text-center"><%= @trip.trophy.count %></td>
             </tr>
           </table>
           
           
          <% end %> 
        </div>
      </div>
      <div class="row fblock" id="map" style='height: 200px;'>
        
      </div>
      <div class="row fblock">
        <div class="col-md-12 container">
            <%= gallery_parse(@trip.description).html_safe %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Капитан:</h4>
      <% user = User.find(@trip.captain) %>
      <%= small_user_badge(user) %>
      <br>
      <h4>Участники:</h4>
      <% @trip.users.each do |user| %>
          <%= small_user_badge(user) %>
      <% end %>
      <br>
      <h4>Трофеи:</h4>
       <% @trip.trophy.each do |trophy| %>
          <%= small_trophy_badge(trophy) %>
        <% end %>
    </div>
  </div>

<script type="text/javascript">
 var handler = Gmaps.build('Google');
  handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
    var json_data = [
      {
        id:  1,
        <% if !@trip.place.nil? %>
          lat: <%= @trip.place.lat %>,
          lng: <%= @trip.place.lng %>,
        <% else %>
          lat: 55.7500,
          lng: 37.6167,
        <% end %>
        
        infowindow: "<div style='color:red;'>Перетянуть на нужное место</div>" //this html is properly disaplayed
      }
    ];

    //create draggable markers (pass google maps options aas a second arg)
    var markers = handler.addMarkers(json_data);

    //add markers to original json
    _.each(json_data, function(json, index){
      json.marker = markers[index];
    });

    //add dragend event to markers, triggered when you drop them
    _.each(json_data, function(json){
      google.maps.event.addListener(json.marker.getServiceObject(), "dragend", function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        console.log('Marker with id: ' + json.id + ' dropped hat lat: ' + lat + ' and lng: ' + lng)
        document.getElementById("place_lat").value = lat;
        document.getElementById("place_lng").value = lng;
      });
    });
  });
  handler.getMap().setZoom(8);
  <% if !@trip.place.nil? %>
          var centerpoint = new google.maps.LatLng(<%= @trip.place.lat %>,<%= @trip.place.lng %>);
        <% else %>
          var centerpoint = new google.maps.LatLng(55.7500, 37.6167);
        <% end %>
  handler.getMap().setCenter(centerpoint);

  
  $(document).ready(function() {
    var overallWidth=0;
    $(".owl-item").each(function() {
       SetImgProps($( this ));
    });
    $(".owl-demo").each(function( owl ) { 
        overallWidth=0;
        $( this ).owlCarousel({
            autoPlay: 3000, //Set AutoPlay to 3 seconds
            autoWidth:true,
            singleItem : false,
            itemsScaleUp : false,
            afterInit: function(elem){
              $(".owl-item").each(function() {
                 SetImgProps($( this ));
              });
              $( this ).find(".owl-wrapper").width(overallWidth);

            }
      })
    });
    function SetImgProps(block) {
      var newImg = new Image();
      var proportion;
      newImg.onload = function() {
        var height = parseInt(newImg.height);
        var width = parseInt(newImg.width);
        proportion = width/height;
        img.height(300);
        block.height(300);
        img.width(300*proportion);
        block.width(300*proportion);
        overallWidth += 300*proportion;
      }
      img=block.find("img");
      newImg.src = img.prop('src'); // this must be done AFTER setting onload
    }
 
  });
  
  
  
</script>
 