<div class="page-header">
  <%= link_to trips_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_trip_path(@trip), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  
</div>
  <div class="row">
    <div class="col-md-8">
    <h1><%= @trip.name %> </h1>
    </div>
    <div class="col-md-4">
      <h5>Капитан:</h5>
      <% user = User.find(@trip.captain) %>
      <%= small_user_badge(user) %>
    </div>
  </div>
  <div class="row">
  
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3 ">
          <%=link_to image_tag("/icon-album.jpeg", :border=>0), trip_pictures_path(@trip) %>
        </div>
        <div class="col-md-3 ">
          <% if !@trip.place.nil? %>
          <%= link_to image_tag(@trip.place.pcover.url(:med), size: "100x100", alt: @trip.place.name ), @trip.place %>
          <% else %>
           Place not selected
          <% end %>
        </div>
        <div class="col-md-3 text-center">
          <% if !@trip.sdate.nil? & !@trip.edate.nil? %>
           <%= Date.strptime(@trip.sdate,"%m/%d/%Y").to_date.strftime('%a %d %b %Y') %> <br>-<br> <%= Date.strptime(@trip.edate,"%m/%d/%Y").to_date.strftime('%a %d %b %Y') %>
          <% end %> 
        </div>
      </div>
      <div class="container thumbnail ">
        <%= @trip.description.html_safe %>
      </div>
      
    </div>
    <div class="col-md-4">
      <h5>Участники:</h5>
      <% @trip.users.each do |user| %>
          <%= small_user_badge(user) %>
      <%end%>
    </div>
  </div>

 