<div class="page-header">
  <%= link_to new_article_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Новая статья
  <% end %>
  <h1></h1>
</div>

<% @articles.each do |article| %>
<div class="row">
  <H2><%= article.name %></H2>
  <p>
  <%= raw(article.text.slice(0..(article.text.index('<!-- pagebreak -->')))) %> <%= link_to 'Show', article %>
  </p>
  <p><%= article.user.name %></p>
</div>
<% end %>


