<div class="page-header">
  <%= link_to new_article_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Новая статья
  <% end %>
  <h1></h1>
</div>

<% @articles.each do |article| %>
<div class="row">
  <H2><%= link_to article.name,article  %></H2>
  <p>
  <%= raw(article.text.slice(0..(article.text.index('<!-- pagebreak -->')))) %> <%= link_to 'Show', article, :class =>"btn btn-primary" %>
  </p>
  <p><%= small_user_badge(article.user) %></p>
</div>
<% end %>


