<%= form_for(@reward, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @reward.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h4>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
    <%= f.label "Название", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :name, class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
    <%= f.label "Получатель", class: "col-sm-2 control-label" %>
    <% if !@reward.user.nil? %>
           <% user = User.find(@reward.user_id).nickname %>
        <% else %>
           <% user = "" %>
        <% end %>
  
    <div class="col-sm-10">
                <%= autocomplete_field_tag 'user', user, autocomplete_user_nickname_users_path,:id_element => '#reward_user_id',  class: "form-control" %>
                <%= f.number_field :user_id, class: "hidden" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Фото', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= f.file_field :photo %>
    </div>
  </div>
  <% if !@reward.trip.nil? %>
           <% trip = @reward.trip.name %>
        <% else %>
           <% trip = "" %>
  <% end %>
  <div class="form-group">
    <%= f.label "Поездка", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
    <%= autocomplete_field_tag 'trip', trip, autocomplete_trip_name_trips_path,:id_element => '#reward_trip_id',  class: "form-control" %>
    <%= f.number_field :trip_id, class: "hidden" %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label "Описание", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
