<div class="page-header">
  <%= link_to new_reward_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Reward
  <% end %>
  <h1>Награды</h1>
</div>

<% @rewards.each_slice(4) do |rewards| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% rewards.each do |reward| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                      <%= link_to image_tag(reward.photo.url(:grid),class: "img-thumbnail", height: "150", width: "150", style: "width: 100%"),reward %>
                  </div>
                  <div class="caption">
                      <h3><%= link_to reward.name, reward %></h3>
                      <p><i class="flaticon-map49"></i>&nbsp;&nbsp; <%= link_to reward.trip.name, reward.trip %></p>
                      <p><i class="flaticon-user168"></i>&nbsp;&nbsp;<%= link_to reward.user.nickname, reward.user %></p>
                 </div>
                </div>  
              </li>
            <% end %>
        </ul>  
        </div>
<% end %>
