<div class="page-header">
  <%= link_to rewards_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_reward_path(@reward), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show reward</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @reward.user_id %></dd>

  <dt>Trip:</dt>
  <dd><%= @reward.trip_id %></dd>

  <dt>Name:</dt>
  <dd><%= @reward.name %></dd>

  <dt>Description:</dt>
  <dd><%= @reward.description %></dd>

</dl>
