<div class="page-header">
  <h1>Чета тут надо написать.....</h1>
</div>
<p></p>
<script src="/cjs/modernizr.js"></script>
<script src="/cjs/main.js"></script>
<link rel="stylesheet" href="/ccss/style.css">
<div class="container" id="timeline"></div>
<section id="cd-timeline" class="cd-container">
<% Trip.order(:sdate => "DESC").all.each do |trip| %>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			<img src="img/cd-icon-location.svg" alt="Picture">
		</div> <!-- cd-timeline-img -->
 		<div class="cd-timeline-content ">
			<h4><%= link_to trip.name.truncate(27), trip %></h4>
					<% if !trip.place.nil? %>
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= link_to trip.place.name, trip.place %></p>
                    <%else%>
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></i> Место не выбрано </p>
                    <% end %>
                    <br>
                    <i class="flaticon-user168"></i>-<b><%= trip.users.count+1 %></b>
                    <i class="flaticon-fish52"></i>-<b><%= trip.trophy.count %></b>
                    <% if !trip.sdate.nil? & !trip.edate.nil? %>
                    <% beginDate = trip.sdate %>
                    <% endDate = trip.edate %>
                    <i class="flaticon-calentar">-<b><%= (endDate-beginDate).to_i %></b>
                    <% else %>
                    <i class="flaticon-calentar"> - <b>?</b>
                    <% end %>
                    <i class="flaticon-picture64"></i>-<b><%= trip.pictures.count %></b>
                    <br>
                    <%= link_to "Подробнее", trip, class: "cd-read-more" %>
			
			<% startdate = trip.sdate %>
			<span class="cd-date"><%= Russian::strftime(startdate,'%d %b %Y') %> - <%= Russian::strftime(trip.edate,'%d %b %Y') %> </span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
 
	

<%end%>
</section>
</div>


