<div class="container" style="padding-top: 60px;">
  <h1 class="page-header"><%= @user.nickname %> profile</h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
      	<%= image_tag @user.avatar.url(:med), :class => 'img-rounded avatar-profile' %>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Personal info</h3>
      
      	<div class="row">
          <label class="col-lg-3 control-label">Nick name:</label>
          <div class="col-lg-8">
          	<%= @user.nickname  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
          	<%= @user.name  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <%= @user.surname  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Address:</label>
          <div class="col-lg-8">
           
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Country:</label>
          <div class="col-lg-8">
            
          </div>
        </div>
        
        
        <div class="row">
          <label class="col-lg-3 control-label">Role:</label>
          <div class="col-lg-8">
          	
            
          </div>
        </div>
      
        
      
    </div>
  </div>
</div>