

<% if can? :update, User, attributes: [:role]%>
<div class="page-header">
  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Edit
  <% end %>
  <h1>ADMIN MODE</h1>
</div>
<% end %>


<div class="container" style="padding-top: 60px;">
  <h1 class="page-header"><%= @user.nickname %></h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
      	<%= image_tag @user.avatar.url(:med), :class => 'img-rounded avatar-profile' %>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3></h3>
      
      	<div class="row">
          <label class="col-lg-3 control-label">Ник:</label>
          <div class="col-lg-8">
          	<%= @user.nickname  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Имя:</label>
          <div class="col-lg-8">
          	<%= @user.name  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Фамилия:</label>
          <div class="col-lg-8">
            <%= @user.surname  %>
          </div>
        </div>
        <% trips = @user.trips %>
        <% tropheys = @user.trophy %>

        <div class="row">
          <label class="col-lg-3 control-label">Поездок:</label>
          <div class="col-lg-8">
            <%= trips.count.to_s  %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3 control-label">Трофеев:</label>
          <div class="col-lg-8">
            <%= tropheys.count.to_s  %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3 control-label">Кг рыбы поймано:</label>
          <div class="col-lg-8">
            <%= tropheys.sum(:weight).to_s  %>
          </div>
        </div>



      
        
      
    </div>
  </div>
  <div class="row">
         <div class="col-md-4">
         <h4> Поездки:</h4>
            <% trips.each do |trip| %>
              <%= small_trip_badge(trip) %>
            <% end %>
         </div>
         <div class="col-md-4">
         <h4>Трофеи:</h4>
            <% tropheys.each do |trophy| %>
              <%= small_trophy_badge(trophy) %>
            <% end %>
         </div>
         <div class="col-md-4">
         </div>
        </div>
</div>