<li><%= link_to "Редактировать", edit_user_registration_path(@user) %></li> 

<div class="container" style="padding-top: 60px;">
  <h1 class="page-header"><%= @user.nickname %></h1>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
      	<%= image_tag @user.avatar.url(:med), :class => 'img-rounded avatar-profile' %>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3></h3>
      
      	<div class="row">
          <label class="col-lg-3 control-label">Ник:</label>
          <div class="col-lg-8">
          	<%= @user.nickname  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Имя:</label>
          <div class="col-lg-8">
          	<%= @user.name  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Фамилия:</label>
          <div class="col-lg-8">
            <%= @user.surname  %>
          </div>
        </div>
        <div class="row">
          <label class="col-lg-3 control-label">Role:</label>
          <div class="col-lg-8">
          	
            
          </div>
        </div>
      
        
      
    </div>
  </div>
  <div class="row">
         <div class="col-md-4">
         <h4> Поездки:</h4>
            <% @user.trips.each do |trip| %>
              <%= link_to trip.name, trip %>
            <% end %>
         </div>
         <div class="col-md-4">
         <h4>Трофеи:</h4>
            <% @user.trophy.each do |trophy| %>
              <%= small_trophy_badge(trophy) %>
            <% end %>
         </div>
         <div class="col-md-4">
         </div>
        </div>
</div>