<div class="page-header">
  <% if can? :create, Bait %>
  <%= link_to new_bait_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить приманку
  <% end %>
  <% end %>
  <h1>Приманки</h1>
</div>

<% @baits.each_slice(4) do |baits| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% baits.each do |bait| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px">
                      <%= link_to image_tag(bait.photo.url(:med),class: "img-thumbnail", height: "150", width: "150", style: "width: 100%"),bait %>
                  </div>
                  <div class="caption">
                      <h3><%= link_to bait.name, bait %></h3>
                      <p><%= link_to bait.manufacturer.name, bait.manufacturer  %></p>
                      <% if bait.btype=="Колебло" and !bait.weight.nil? %>
                      <p class="flaticon-lab4">&nbsp;&nbsp;<%= bait.weight %> г.</p>
                      <% else if bait.btype=="Воблер" and !bait.depth.nil? %>
                      <p class="flaticon-lab4">&nbsp;&nbsp;<%= bait.depth %> м.</p>
                      <% else if bait.btype=="Резина" and !bait.depth.nil? %>
                      <p class="flaticon-resizing4">&nbsp;&nbsp;<%= bait.isize %>"</p>
                      <% end %>
                  </div>
                </div>  
              </li>
            <% end %>
        </ul>  
        </div>
<% end %>