<div class="page-header">
  <% if can? :create, Bait %>
  <%= link_to new_bait_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить приманку
  <% end %>
  <% end %>
  <h1>Приманки</h1>
</div>

<% @baits.each_slice(4) do |baits| %>
        <div class="row">
        <ul class="thumbnails list-unstyled">       
            <% baits.each do |bait| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding: 0">
                  <div style="padding:4px;height:150px;width:150px;">
                      <%= link_to image_tag(bait.photo.url(:med),class: "img-thumbnail", style: "width:150px;"),bait %>
                  </div>
                  <div class="caption">
                      <h3><%= link_to bait.name, bait %></h3>
                      <p><%= link_to bait.manufacturer.name, bait.manufacturer  %></p>
                      <p><%= bait.weight %> г.</p>
                  </div>
                </div>  
              </li>
            <% end %>
        </ul>  
        </div>
<% end %>