<div class="page-header">
  <%= link_to baits_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_bait_path(@bait), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
 <div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2><%= @bait.name %></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbframe">
          <%= image_tag @bait.photo.url(:med) %>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table">
              <tbody>
              <tr>
                <td>
                  Название:
                </td>
                <td>
                  <%= @bait.name %>
                </td>
              </tr>
              <tr>
                <td>
                  Вес:
                </td>
                <td>
                  <%= @bait.weight %> г.
                </td>
              </tr>  
              <tr>
                <td>
                  Производитель:
                </td>
                <td>
                  <%= @bait.manufacturer.name %>
                </td>
              </tr>
            </tbody>
           </table>
      </div>
    </div>
    <div class="row">
      <h2>Описание</h2>
      <%= raw(@bait.description) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row"><h2>Рыбы:</h2></div>
      <div class="row">
          <table class="table">
            <tbody>
              
              
              
            </tbody>
          </table>
      </div>
  </div>
</div>
</div>
