<div class="page-header">
  <%= link_to baits_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_bait_path(@bait), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show bait</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @bait.name %></dd>

  <dt>Mfg:</dt>

  <dd><%= @bait.name %></dd>

  <dt>Weight:</dt>
  
  <dd><%= @bait.weight %></dd>

  <dt>Description:</dt>
  <dd><%= @bait.description %></dd>

</dl>
