<%= form_for(@trophy, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @trophy.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@trophy.errors.count, "error") %> prohibited this trophy from being saved:</h4>

      <ul>
      <% @trophy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Автор", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
                <%= autocomplete_field_tag 'user', User.find(@trophy.user_id).nickname, autocomplete_user_nickname_users_path,:id_element => '#trophy_user_id' %>
                <%= f.number_field :user_id, class: "hidden" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fish_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= autocomplete_field_tag 'fish', Fish.find(@trophy.fish_id).name, autocomplete_fish_name_fish_index_path,:id_element => '#trophy_fish_id' %>
      <%= f.number_field_tag :fish_id, class: "hidden" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :trip_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= @trophy.trip.name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weight, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :weight, class: "form-control" %>
    </div>
  </div>
  <div class="form-group hidden">
    <%= f.label 'lat:', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :lat, :class => 'text_field', :step => 'any' %>
    </div>
  </div>
  <div class="form-group hidden">
    <%= f.label 'lng', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :lng, :class => 'text_field', :step => 'any' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Координаты', class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
 var handler = Gmaps.build('Google');
  handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
    var json_data = [
      {
        id:  1,
        <% if !@trophy.lat.nil? %>
          lat: <%= @trophy.lat %>,
          lng: <%= @trophy.lng %>,
        <% else %>
          lat: 55.7500,
          lng: 37.6167,
        <% end %>
        
        infowindow: "<div style='color:red;'>Перетянуть на нужное место</div>" //this html is properly disaplayed
      }
    ];

    //create draggable markers (pass google maps options aas a second arg)
    var markers = handler.addMarkers(json_data, { draggable: true});

    //add markers to original json
    _.each(json_data, function(json, index){
      json.marker = markers[index];
    });

    //add dragend event to markers, triggered when you drop them
    _.each(json_data, function(json){
      google.maps.event.addListener(json.marker.getServiceObject(), "dragend", function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        console.log('Marker with id: ' + json.id + ' dropped hat lat: ' + lat + ' and lng: ' + lng)
        document.getElementById("trophy_lat").value = lat;
        document.getElementById("trophy_lng").value = lng;
      });
    });
  });
  handler.getMap().setZoom(5);
  <% if !@trophy.lat.nil? %>
          var centerpoint = new google.maps.LatLng(<%= @trophy.lat %>,<%= @trophy.lng %>);
        <% else %>
          var centerpoint = new google.maps.LatLng(55.7500, 37.6167);
        <% end %>
  handler.getMap().setCenter(centerpoint);

  
  
</script>
