<div class="page-header">
  <% if can? :create, Trophy %>
  <%= link_to new_trophy_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить
  <% end %>
  <% end %>

  <h1>Наши трофеи</h1>
</div>

<div class="sort-panel">
Сортировать:
  <%= sort_link(@q, 'fish_id', 'Рыба') %>
  <%= sort_link(@q, :weight, 'Вес', default_order: :desc) %>
  <%= sort_link(@q, 'trip_id', 'Поездка') %>
</div>
<br>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
<% @trophies.each_slice(4) do |trophies| %>
        <div class="row">
        <ul class="thumbnails list-unstyled" style="padding:0;min-height:100%;">       
            <% trophies.each do |trophy| %>
              <li class="col-md-3">
                <div class="thumbnail" style="padding:4px;height:100%; ">
                  <div style="padding:4px;" class="centered-container thumbnail">
                    <% if !trophy.proof_id.nil?%>
                    <%= link_to (image_tag Picture.find(trophy.proof_id).photo.url(:slide),class: "centered-image"),trophy, class: "centered-image" %>
                  <% else %>
                    <%= link_to image_tag(trophy.fish.photo.url(:med),class: "centered-image"),trophy %>
                  <% end %>
                  </div>
                  <div class="caption">
                      <h3><%= link_to trophy.fish.name, trophy %></h3>
                      <p><%= link_to trophy.trip.name, trophy.trip  %></p>
                      <p><%= trophy.weight %> кг.</p>
                      <% if !trophy.user.nil? %>
                        <td><%= link_to trophy.user.nickname, trophy.user %></td>
                      <% else %>
                        <td>No user</td>
                      <% end %>
                  </div>
                </div>  
              </li>
            <% end %>
        </ul>  
        </div>
<% end %>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
<script type="text/javascript">
$(document).ready(function() {
    
    $(".centered-container").each(function() { 
        
        width=$( this ).width();
        height = $( this ).height();
        if (height<width) {
          $( this ).height(width);
        } else {
          $( this ).width(height);  
        }
    });
    
 
  });
</script>
