<div class="page-header">
  <%= link_to new_trophy_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Trophy
  <% end %>
  <h1>Listing trophies</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
            <th>Рыба</th>
            <th>Поездка</th>
            <th>Вес</th>
            <th>Автор</th>
            <th>Приманка</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @trophies) do |trophy| %>
            <td><%= image_tag trophy.fish.photo.url(:med) %></td>
            <td><%= trophy.fish.name %></td>
            <td><%= trophy.trip.name %></td>
            <td><%= trophy.weight %></td>
            <td><%= trophy.user.nickname %></td>
            <td><%= trophy.bait.name %></td>


      <% end %>
    </tbody>
  </table>
</div>
