<div class="page-header">
  <%= link_to trophies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if can? :update, @trophy %>
  <%= link_to edit_trophy_path(@trophy), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <% end %>
  <div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2><%= @trophy.fish.name %></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbframe">
          <% if !@trophy.proof_id.nil?%>
            <%= image_tag Picture.find(@trophy.proof_id).photo.url(:slide), style: "width:100%;" %>
          <% else %>
            <%= image_tag @trophy.fish.photo.url(:med) %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
        <table class="table">
              <tbody>
              <tr>
                <td>
                  Название:
                </td>
                <td>
                  <%= @trophy.fish.name %>
                </td>
              </tr>
              <tr>
                <td>
                  Вес:
                </td>
                <td>
                  <%= @trophy.weight %> кг.
                </td>
              </tr>  
              <tr>
                <td>
                  Поездка:
                </td>
                <td>
                  <%= link_to @trophy.trip.name, @trophy.trip  %>
                </td>
              </tr>
            </tbody>
           </table>
           <%= small_bait_badge(@trophy.bait) %>
           <%= small_user_badge(@trophy.user) %>
      </div>
    <div class="row fblock" id="map" style='height: 600px;'></div>
    <div class="row">
      <%= commontator_thread(@trophy) %>
    </div>
    </div>

      <div class="col-md-4">
    
      <div class="row">
          <table class="table">
            <tbody>
              
              
              
            </tbody>
          </table>
      </div>
  </div>
</div>
</div>



<script type="text/javascript">
 var handler = Gmaps.build('Google');
  handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
    var json_data = [
      
        
        {
            id:  <%= @trophy.id %>,
            <% if !@trophy.lat.nil? %>
              lat: <%= @trophy.lat %>,
              lng: <%= @trophy.lng %>,
            <% else %>
              lat: 55.7500,
              lng: 37.6167,
            <% end %>
            
            infowindow: '<table class="userbadge thumbnail">'+
                          '<tr style="height:50%;"><td rowspan="2" style="width:50px;">'+
                          '<a class="pull-left" href="<%= trophy_path(@trophy.id) %>">'+
                          '<img class="media-object" src="<%= @trophy.fish.photo.url(:thumb) %>" style="width: 50px;height:50px;">'+
                          '</a></td><td>'+
                          '<p>&nbsp;&nbsp; <%= link_to @trophy.fish.name , @trophy.fish %>&nbsp;-&nbsp;<%= @trophy.weight %>&nbsp;кг. </p>'+
                          '</td></tr><tr><td>'+
        <% if !@trophy.user.nil? %>
                  '<small>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to @trophy.user.nickname, @trophy.user %>&nbsp;на&nbsp;<%= link_to @trophy.bait.name, @trophy.bait %></small>'+
                <% else %>
                  '<td>No user</td>'+
                <% end %>
        '</td></tr></table> ' //this html is properly disaplayed
        }
        
      
    ];

    //create draggable markers (pass google maps options aas a second arg)
    var markers = handler.addMarkers(json_data);

    //add markers to original json
    _.each(json_data, function(json, index){
      json.marker = markers[index];
    });

    //add dragend event to markers, triggered when you drop them
    _.each(json_data, function(json){
      google.maps.event.addListener(json.marker.getServiceObject(), "dragend", function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        console.log('Marker with id: ' + json.id + ' dropped hat lat: ' + lat + ' and lng: ' + lng)
        document.getElementById("place_lat").value = lat;
        document.getElementById("place_lng").value = lng;
      });
    });
  });
  handler.getMap().setZoom(8);
  <% if !@trophy.lat.nil? %>
          var centerpoint = new google.maps.LatLng(<%= @trophy.lat %>,<%= @trophy.lng %>);
        <% else %>
          var centerpoint = new google.maps.LatLng(55.7500, 37.6167);
        <% end %>
  handler.getMap().setCenter(centerpoint);

  
  
</script>