<div class="page-header">
  <%= link_to trophies_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_trophy_path(@trophy), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show trophy</h1>
</div>

<dl class="dl-horizontal">
  <dt>Fish:</dt>
  <dd><%= @trophy.fish_id %></dd>

  <dt>Trip:</dt>
  <dd><%= @trophy.trip_id %></dd>

  <dt>Weight:</dt>
  <dd><%= @trophy.weight %></dd>

</dl>
