<div class="page-header">
  <%= link_to manufacturers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Список
  <% end %>
  <%= link_to @manufacturer, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Просмотр
  <% end %>
  <%= link_to 'Удалить', @manufacturer, :method => 'delete', :confirm => 'Are you sure?', class: 'btn btn-danger'%>
  <h1>Редактируем - <%= @manufacturer.name %></h1>
</div>

<%= render 'form' %>
