<div class="page-header">
  <%= link_to manufacturers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Список
  <% end %>
  <% if can? :update, @manufacturer %>
  <%= link_to edit_manufacturer_path(@manufacturer), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Редактировать
  <% end %>
  <% end %>
<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2><%= @manufacturer.name %></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbframe">
          <%= image_tag @manufacturer.photo.url(:med) %>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table">
              <tbody><tr>
                <td>
                  Brand:
                </td>
                <td>
                  <%= @manufacturer.name %>
                </td>
              </tr>
              <tr>
                <td>
                  Website:
                </td>
                <td>
                  <a href="<%= @manufacturer.url %>"><%= @manufacturer.url %></a>
                </td>
              </tr>
              
            </tbody>
           </table>
      </div>
    </div>
    <div class="row">
      <h2>Описание</h2>
      <%= raw(@manufacturer.description) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row"><h2></h2></div>
      <div class="row">
          <table class="table">
            <tbody>
              
              
              
            </tbody>
          </table>
      </div>
  </div>
</div>
</div>