<div class="page-header">
  <%= link_to places_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_place_path(@place), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2><%= @place.name %></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbframe">
          <%= image_tag @place.pcover.url(:grid) %>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table">
              <tbody>
              <tr>
                <td>
                  Название:
                </td>
                <td>
                  <%= @place.name %>
                </td>
              </tr>
              
            </tbody>
           </table>
      </div>
    </div>
    <div class="row fblock" id="map" style='height: 200px;'>
    <div class="row fblock ">
      <h2>Описание</h2>
      <%= raw(@place.description) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row"><h2></h2></div>
      <div class="row">
          <table class="table">
            <tbody>
              
              
              
            </tbody>
          </table>
      </div>
  </div>
</div>
</div>
<script type="text/javascript">
 var handler = Gmaps.build('Google');
  handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
    var json_data = [
      {
        id:  1,
        <% if !@place.nil? %>
          lat: <%= @place.lat %>,
          lng: <%= @place.lng %>,
        <% else %>
          lat: 55.7500,
          lng: 37.6167,
        <% end %>
        
        infowindow: "<div style='color:red;'>Перетянуть на нужное место</div>" //this html is properly disaplayed
      }
    ];

    //create draggable markers (pass google maps options aas a second arg)
    var markers = handler.addMarkers(json_data);

    //add markers to original json
    _.each(json_data, function(json, index){
      json.marker = markers[index];
    });

    //add dragend event to markers, triggered when you drop them
    _.each(json_data, function(json){
      google.maps.event.addListener(json.marker.getServiceObject(), "dragend", function(event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();
        console.log('Marker with id: ' + json.id + ' dropped hat lat: ' + lat + ' and lng: ' + lng)
        document.getElementById("place_lat").value = lat;
        document.getElementById("place_lng").value = lng;
      });
    });
  });
  handler.getMap().setZoom(8);
  <% if !@place.nil? %>
          var centerpoint = new google.maps.LatLng(<%= @place.lat %>,<%= @place.lng %>);
        <% else %>
          var centerpoint = new google.maps.LatLng(55.7500, 37.6167);
        <% end %>
  handler.getMap().setCenter(centerpoint);

  
  
</script>