<div class="page-header">
  <%= link_to new_fish_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Добавить рыбу
  <% end %>
  <h1>Рыбы</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
            <th>Название</th>
            <th>Описание</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @fish) do |fish| %>
            <td><%= image_tag fish.photo.url(:med) %></td>
            <td><%= link_to fish.name, fish %></td>
            <td><%= fish.description %></td>
      <% end %>
    </tbody>
  </table>
</div>
