<div class="page-header">
  <%= link_to fish_index_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_fish_path(@fish), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2><%= @fish.name %></h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="thumbframe">
          <%= image_tag @fish.photo.url(:med) %>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table">
              <tbody>
              <tr>
                <td>
                  Название:
                </td>
                <td>
                  <%= @fish.name %>
                </td>
              </tr>
              
            </tbody>
           </table>
      </div>
    </div>
    <div class="row">
      <h2>Описание</h2>
      <%= raw(@fish.description) %>
    </div>
    <div class="row fblock" id="map" style='height: 600px;'>
  </div>

  <div class="col-md-4">
    <div class="row"><h2></h2></div>
      <div class="row">
          <table class="table">
            <tbody>
              
              
              
            </tbody>
          </table>
      </div>
  </div>
</div>
</div>

<script type="text/javascript">
        <% h = Hash.new { |h,k| h[k] = [] } %>
        <% Trophy.where(fish_id: @fish.id).each do |trophy| %>
           <% h[trophy.lat.to_s+trophy.lng.to_s][0]= trophy.id %>
           <% h[trophy.lat.to_s+trophy.lng.to_s][1]= trophy.lat %>
           <% h[trophy.lat.to_s+trophy.lng.to_s][2]= trophy.lng %>
           <% if !h[trophy.lat.to_s+trophy.lng.to_s][3].nil? %>
            <% h[trophy.lat.to_s+trophy.lng.to_s][3] << small_trophy_badge(trophy).to_s %> 
            <% else %>
              <% h[trophy.lat.to_s+trophy.lng.to_s][3]= '' %>
              <% h[trophy.lat.to_s+trophy.lng.to_s][3] << small_trophy_badge(trophy).to_s %>
            <% end %>
        <% end %>
        <% ord = h.sort_by { |k, v| v.length }.reverse %>

    var json_data = [
        <% ord.each do |key, val|%>
                  {
                          id:  <%= val[0] %>,
                          <% if !val[1].nil? %>
                            lat: <%= val[1] %>,
                            lng: <%= val[2] %>,
                          <% else %>
                            lat: 55.7500,
                            lng: 37.6167,
                          <% end %>
                          
                          description: '<%= raw(val[3]) %>'
                   },
          <% end %>
        
      
    ];

 
function initialize()
{
    var bounds = new google.maps.LatLngBounds();
    var mapProp = {
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("map"),mapProp);

    var infowindow =  new google.maps.InfoWindow({
        content: ""
    });
    var icon = { path: "m 11.313805,17.493393 c 3.751567,10.569067 12.727825,28.688332 12.727825,28.688332 0,0 7.660157,-17.0229 12.727824,-28.688332 C 39.164859,11.97933 35.124952,2.2863927 23.970201,2.2863925 12.31545,2.2863923 9.3027718,11.827829 11.313805,17.493393 M0 0 m 23.755916,25.725521 c -4.869034,0 -10.342067,-5.434538 -10.353943,-10.303557 -0.01193,-4.892829 5.4611,-10.4045701 10.353943,-10.4045702 4.892843,-10e-8 10.365878,5.5117412 10.353944,10.4045702 -0.01188,4.86902 -5.48491,10.303557 -10.353944,10.303557 z",
        fillColor: '#FF0000',
        fillOpacity: .8,
        anchor: new google.maps.Point(70.085, 120.362),
        strokeWeight: 0,
        scale:1
    };
    for (var i = 0, length = json_data.length; i < length; i++) {
        var data=json_data[i];
        var latLng = new google.maps.LatLng(data.lat, data.lng); 
        // Creating a marker and putting it on the map
        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            icon: icon
        });
        bounds.extend(marker.getPosition());
        bindInfoWindow(marker, map, infowindow, data.description);
    } 
    map.fitBounds(bounds);
}

function bindInfoWindow(marker, map, infowindow, description) {
    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(description);
        infowindow.open(map, marker);
    });
}

google.maps.event.addDomListener(window, 'load', initialize); 
</script>
